.card-professional{
    color: #FFF;
    background: linear-gradient(
90deg, #a3a8f0 0%, #696fdd 100%);
 
}
.card-page{
    margin: auto;
    border: 5px solid #FFFF00;
    padding: 10px;
}

.card-light{
   padding: 3.5rem 2rem;
   border: none;
}
.card {
    min-width: 300px;
    border-radius: 10px;
}

/* .pricing-plan {
    width: 325px;
    
} */

/* .pricing-plan:nth-of-type(1){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pricing-plan:nth-of-type(2n){
    padding: 3.5rem 2rem;
    border: none;
    
}
.pricing-plan:nth-of-type(3n){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
} */