
<table>
    <caption>Front End Screen Summary</caption>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Link</th>
        <th scope="col">Technologies</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Title">Single Price Grid Component</td>
        <td data-label="Link"> <a href="single-card" aria-label="true">Demo Link</a></td>
        <td data-label="Technologies">
          <p style="text-align: justify;">
                HTML 5  
                Bootstrap CSS  
              Custom CSS 
        </p></td>
         
      </tr>
      <tr>
        <td data-label="Title">Four card feature section</td>
        <td data-label="Link"> <a href="four-card" aria-label="true" >Demo Link</a></td>
        <td data-label="Technologies">
          <p style="text-align: justify;">
               HTML 5 
              Normal CSS  
            
           </p>
      </td>
         
      </tr>

      <!-- <tr>
          <td data-label="Title">Fylo Dark Landing Page (In Progress)</td>
          <td data-label="Link"> <a href="fylo-dark" aria-label="true">Demo Link</a></td>
          <td data-label="Technologies">
            <p style="text-align: justify;">
                Loading......
          </p></td>
           
        </tr> -->
    
    </tbody>
  </table>


  <router-outlet></router-outlet>
 
  <footer>
      <p class="attribution">
       
        Coded by <a  target="_blank" href="https://github.com/senbagaraman04">Senbagaraman M</a>
      </p>
    </footer>

 