.master {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    min-height: 454px !important;
    padding: 30px;
    background-color: white;
    text-align: center;
    color: var(--grayish-blue);
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .master__header {
    margin-top: 5px;
  }
  
  .master__price {
    font-size: 68px;
    color: var(--dark-grayish-blue);
  }
  
  .master__price::before {
    position: relative;
    content: "$";
    font-size: 36px;
    top: -10px;
  }
  
  .master__storage,
  .master__users,
  .master__send {
    padding: 15px;
    border-top: 1px solid var(--light-grayish-blue);
  }
  
  .master__send {
    border-bottom: 1px solid var(--light-grayish-blue);
  }
  
  .master__learn {
    width: 100%;
    border: 0;
    height: 45px;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    border-radius: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .master__learn:hover {
    border: 1px solid #696fdd;
    background-image: none;
    background-color: white;
    color: #696fdd;
  }
  
  @media (min-width: 1200px) {
    .master {
      width: 350px;
      height: 450px;
      border-radius: 0 10px 10px 0;
    }
  }