.example-spacer {
    flex: 1 1 auto;
  }


  .insurance-button-viewplans{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border: 1.5px solid hsl(256, 26%, 20%);
    color: black;
  }


  .insurance-header-rsection{
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: hsl(273, 4%, 51%);
      font-weight: 700;
      padding: 12px 20px;
    }

    .insurance-button-viewplans:hover {
      background-color: hsl(256, 26%, 20%);
      color: #ffffff;
    }
  }
