<mat-toolbar color="primary">
    <mat-toolbar-row>
      
      <img src="../../../assets/images/logo.svg" alt="logo">
      <span class="menu-spacer"></span>
      <div class="insurance-section-header">
        <div class="main-nav">      
          <ul class="menu-list">
            <li class="item"><a href="" class="link"> How we work</a></li>
            <li class="item"><a href="" class="link">Blog</a></li>
            <li class="item"><a href="" class="link">Account</a></li>
            <li class="button">View plans</li>
          </ul>
          <!-- <img src="assets/images/bg-pattern-mobile-nav.svg" alt="" class="menu-mobileBg imageMobile"> -->
    
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


  <!-- <div class="container">
    <img src="assets/images/logo.svg" alt="" class="logo">
    <input type="checkbox" name="mobileMenu" id="menu-toggle">
    <label for="menu-toggle" class="menu-mobileLabel">
      <span class="hamburger"></span>
    </label>
       
  </div> -->